<div class="card-header rounded ms-3" style="max-width: 50rem; background-color: rgba(108, 62, 184, 0.699);">
  {{#each this}}
  <section style="background-color: #c395f8;">

    <div class="ms-3">
      {{user.username}} on {{format_date created_at}}
    </div>
    
    <div class="ms-3 mt-2">
      {{comment_text}}
    </div>
    <hr>
  </section>
  {{/each}}
</div>