<section>
    <a href="/dashboard" class="is-pulled-right ms-2" style="color: rgb(72, 8, 175);"> &larr; Return to Dashboard</a>
    <h2 class="title ms-2 mt-2" style="color: rgb(72, 8, 175);">Create New Post</h2><hr>

    <form class="new-post-form">
        <div class="card text-white mb-3 ms-2" style="max-width: 50rem; background-color: rgb(72, 8, 175);">
            <label for="post-title">Title:</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Insert Title"/>
        </div>
        <div class="card text-white mb-3 ms-2" style="max-width: 50rem; background-color: rgb(72, 8, 175);">
            <label for="post-content">Content:</label>
            <input type="textarea" class="textarea is-large" id="post-content" name="post-content" placeholder="Insert Content Here"/>
        </div>
        <button type="submit" class="btn text-white ms-2 p-1 rounded" style="width: 100px; background-color: rgb(72, 8, 175);">Create Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>
<script src="/javascript/create-post.js"></script>