<div class="column">
<h2 class="title pb-4 ms-2 mt-4" style="color: rgb(72, 8, 175)">Login</h2><hr>
<form class="login-form">
  <div class="card text-white mb-3 ms-2" style="max-width: 18rem; background-color: rgb(72, 8, 175);">
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="card text-white mb-3 ms-2" style="max-width: 18rem; background-color: rgb(72, 8, 175);">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn text-white ms-2 p-1 rounded" style="width: 100px; background-color: rgb(72, 8, 175);">Login</button><br>
    <h6 class="mt-2 ms-2 text-danger">Not registered? Click the link below!</h6>
    <a href="/signup"><button type="button" class="btn text-white ms-2 p-1 rounded" style="width: 100px; background-color: rgb(72, 8, 175);">Sign Up!</button></a>
  </div>
</form>
</div>

<script src="/js/login.js"></script>