<div class="column">
<h2 class="title pb-4 mt-4 ms-2" style="color: rgb(72, 8, 175);">Create New Account:</h2><hr>
<form class="signup-form">
  <div class="card text-white mb-3 ms-2" style="max-width: 18rem; background-color: rgb(72, 8, 175);">
    <label for="username-signup" class="ms-2">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="card text-white mb-3 ms-2" style="max-width: 18rem; background-color: rgb(72, 8, 175);">
    <label for="email-signup" class="ms-2">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="card text-white mb-3 ms-2" style="max-width: 18rem; background-color: rgb(72, 8, 175);">
    <label for="password-signup" class="ms-2">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn text-white ms-2 p-1 rounded" style="width: 100px; background-color: rgb(72, 8, 175);">Sign up!</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>