{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ms-3" name="comment-body" style="width: 25rem;" placeholder="Great post!"></textarea>
  </div>

  <div>
    <button class="btn text-white p-1 rounded ms-3 mb-5" style="background-color: rgb(72, 8, 175);" type="submit">Add A Comment!</button>
  </div>
</form>

{{/if}}
  {{> comments post.comments }}
{{#if loggedIn}}

<script src="/js/comment.js"></script>
{{/if}}